<div class="corps">
   
        
            <nav id="menulien">
	            <div class="menu">
				<ul>
					<li><a href="#">FORUM</a></li>
					<li><a href="#">VIDEO</a></li>
					<li><a href="#">IMAGE</a></li>
	            </ul>
				</div>
				
			
			</nav>
			
		    <div id="contenu">
				<section class="gauche">
				
				</section>
				
				<nav id="menudroit"> 
					<div class="recherche">
					<form>
						<input type="search" placeholder="Recherche"/>
					</form>
					</div>
					<br/><br/>
				</nav>
				
			
			</div>
	   
			
	</div>